body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
}


.menu_style{
text-align:center;
color:white;
background-color:black;
margin-bottom: 50px;
}

.header {
  background-color: black;
  color: white;
  text-align: center;
}

.form{

  background-color: black;
  color: white;
  text-align: center;

}

.entries {
  text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.entries_box{

  display:flex;
  flex-direction: column;
  text-align:left;
}

.message_box{
  background-color: white;
  border-radius: 3px 3px 3px 3px;
  padding: 1px 20px 1px 20px ;
  text-align: justify;

}
.entry{
  
  flex-grow: stretch;
  color:black;
  /* padding:8px 8px 8px 8px; */
  font-size: 18px;

}

.under_box{
  margin:5px; 
  margin-top:10px;
  color:grey;
  font-size:12px;
}


.upvote{
  background-color:black;
  color:white;
}


.rules{
  text-align: center;
}