<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Anonim olarak bir şeyler yaz.">
        <meta http-equiv="content-language" content="tr">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='assets/apple-touch-icon.png') }}" />
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='assets/favicon-32x32.png') }}" />
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='assets/favicon-16x16.png') }}" />
        <title>Duvarov</title>{{ url_for('static', filename='assets/assets/duvarov.png') }}

    </head>
    <body>
        <div class="grid-container">
            <div class="logo">
                <a href="/">
                    <img src="{{ url_for('static', filename='assets/duvarov.png') }}" width="100%" alt="" />
                </a>
            </div>

            <div class="top-left"></div>
            <div class="top-right"></div>
            <div class="ads"></div>

            <div class="main">
                <div class="navbar">
                    <a href="/top">Top Entries</a>
                    |
                    <a href="/">Stream</a>
                    |
                    <a href="/rules">Rules</a>
                </div>

                {% block main %} {% block content %}{% endblock %} {% endblock %}
            </div>
        </div>
    </body>
</html>
