{% extends "master.html" %}
{% block content %}
<div class="rules">
  <br>

  <div class="ui inverted horizontal divider">
    <h3>KURALLAR</h3>
  </div>

  <div>
    <p>1. kimseyi hedef göstermeyin</p>
    <p>2. yukarıdaki kuralı hiçbir zaman unutmayın</p>
    <p>3. bir de söylenmiş bir şeyi bir daha söyleyemezsin. </p>
  </div>

  <div class="ui inverted horizontal divider">
    <h3>CONTRIBUTORS</h3>
  </div>

  <div>
    <u>Project Owner</u>: Mert Cobanov
    <br>
    <u>Contributors</u>: Selman Baskaya • Enes Sonmez • Melih Msrexe • Murat Can Kurtulus
  </div>

  <div class="ui inverted horizontal divider">
    <h3>FORK ME ON GITHUB</h3>
  </div>

  <a href="https://github.com/cobanov/duvar-app">
    <img src="static/assets/github_logo.png" alt="" width=50px>
  </a>
  <br><br>
</div>
</div>

{% endblock %}