<html>

<head>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>
    <div class="header">
        <a href="https://duvarov.herokuapp.com/">
            <img src="https://i.ibb.co/QvwxK1J/duvarov.png" alt="">
        </a>
    </div>

    <div class="menu_style">
        <a href="https://duvarov.herokuapp.com/">Top Entries</a>
        |
        <a href="https://duvarov.herokuapp.com/top">Stream</a>
        |
        <a href="https://duvarov.herokuapp.com/rules">Rules</a>
                

    </div>
    <div class="rules">
        <p>tamam oldu.</p> 
        <a href="https://duvarov.herokuapp.com/top">Ana sayfa</a>       
    </div>
    
</body>

</html>